{% load staticfiles %}
            
			<div class="page-sidebar-wrapper">
                <!-- END SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    
                    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item start ">
                            <a href="{% url "Panel:Inicio" %}" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">INICIO 
                                </span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            
                        </li>
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-bank"></i>
                                <span class="title">CAJA</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{% url "Caja:IngresoList" %}" class="nav-link ">
                                        <span class="title">INGRESOS</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{% url "Caja:EgresoList" %}" class="nav-link ">
                                        <span class="title">EGRESOS</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{% url "Caja:NewIngreso" %}" class="nav-link ">
                                        <span class="title">NUEVO INGRESO</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{% url "Caja:NewEgreso" %}" class="nav-link ">
                                        <span class="title">NUEVO EGRESO</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                        
                        
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-child"></i>
                                <span class="title">CLIENTES</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{% url "Clientes:ListadoClientes" %}" class="nav-link ">
                                        <span class="title">Listado De Clientes </span>
                                    </a>
                                </li>
                                <!--
                                <li class="nav-item  ">
                                    <a href="" class="nav-link ">
                                        <span class="title">Horarios De Clases </span>
                                    </a>
                                </li>
                                -->
                            </ul>
                        </li>
                        
                        <li class="nav-item  ">
                            <a href="#" class="nav-link nav-toggle">
                                <i class="fa fa-building"></i>
                                <span class="title">PROYECTOS</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{% url "Proyectos:NewProject" %}" class="nav-link ">
                                        <i class="fa fa-plus-circle"></i>
                                        <span class="title">Nuevo Proyecto</span>
                                    </a>
                                </li>

                                    <li class="nav-item  ">
                                    <a href="{% url "Proyectos:ListProyect" %}" class="nav-link ">
                                        <i class="fa fa-tasks"></i>
                                        <span class="title">Listado De Proyectos</span>
                                    </a>
                                </li>
                            </ul>    

                        </li>
                        <li class="nav-item  ">
                            <a href="{% url "Configuracion:Configuracion_General" %}" class="nav-link nav-toggle">
                                <i class="fa fa-wrench"></i>
                                <span class="title">CONFIGURACION</span>
                                <span class="arrow"></span>
                            </a>
                            
                        </li>
                        <li class="nav-item start  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-database"></i>
                                <span class="title">USUARIOS</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item start  ">
                                    <a href="{% url "Usuarios:ListaDeUsuarios" %}" class="nav-link ">
                                        <i class="fa fa-user"></i>
                                        <span class="title">Listado</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li class="nav-item start ">
                                    <a href="" class="nav-link ">
                                        <i class="fa fa-user-plus"></i>
                                        <span class="title">Nuevo Usuario</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item start  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-code"></i>
                                <span class="title">PROGRAMADORES</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item start  ">
                                    <a href="{% url "Usuarios:ListaDeProgramadores" %}" class="nav-link ">
                                        <i class="fa fa-user"></i>
                                        <span class="title">Listado</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                </ul>

                        <li class="nav-item  ">
                            <a href="{% url "Panel:Logout" %}" class="nav-link nav-toggle">
                                <i class="fa fa-reply"></i>
                                <span class="title">SALIR</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                        
                    </ul>  
                   
                    
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>